body {background-color: black;}
#yo {font-size: 40px;font-weight: bold; text-align: center; color: blanchedalmond;}
div {display:block; margin:auto; text-align: center;}
.a {font-size: 30px; background: grey;}
.b {font-size: 20px; background-color: whitesmoke;}
ul {background-color: whitesmoke;}
footer {background: rgb(240, 121, 121);text-align: center;}