body {background-color: black ; text-align: center;}
p {color: rgb(53, 37, 199);}
h1 {color: rgb(192, 56, 51) ; font-size: 40px;}
header {background:blanchedalmond ; }
.a {color:darkgreen ; background: darkseagreen;}
#Lugar {color: dimgray;font-weight: bold ; font-size: 10px ; background: white;}