.a {
  background-color: rgb(28, 34, 39);
  width: 1000px;
  height: 1000px;
  text-align: center;
  color: white;
  font-size: 30px;
}
h2 {
  background-color: rgb(10, 62, 75);
  margin-top: 30px;
  margin-bottom: 20px;
}
.b img {
  width: 400px;
  height: 210px;
  border-radius: 20%;
  border: cadetblue 10px solid;
  margin-bottom: 30px;
}
.c {
  padding-top: 20px;
  padding-bottom: 10px;
  border: rgb(113, 167, 255) 1px solid;
}
.d {
  background-color: rgb(124, 35, 35);
  color: white;
}
